{% block content  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon</title>
    {% load static %}
{#<link type="text/css" href="{% static 'hair_project/css/styles.css'%}" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
</head>
<body>
    <header>
        <div class="logo">

            <h1>beautysalon</h1>

        </div>
        <nav>
            <ul>
                <li><a href="/login/">Login ou Entrar</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/services">Serviços</a></li>
                <li><a href="/testimonials">Depoimentos</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
{% for data in main_page_data %}
    <section class="hero" id="home">
        <div class="hero-text">
            
            <h2>{{ data.title }}</h2>
            <p>{{ data.description }}</p>

            <button>Agendar um horário</button>
        </div>
        <div class="hero-image">
        
        
 
            <img src="media/{{ data.image }}" alt= "image">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-image">
            <img src="media/{{ data.image }}" alt="Sobre nós">
        </div>
        <div class="about-text"{{post.tittle}}>
            <h2>{{ data.title }}</h2>
            <p>{{ data.description }}</p>
        </div>
    </section>

    <section class="services" id="services">
        <h2>Serviços</h2>
        <p>Com mais de 10 anos no mercado, o Beautysalon já </p>
        <p>onquistou clientes de inúmeros países com seus tratamentos</p>
        <p>c exclusivos e totalmente naturais</p>
        <div class="services-cards">
            <div class="card">
                <img src="{% static '/img/image_copy_2.png' %}" alt="Terapia">
                <h3>Terapia capilar</h3>

                <p>Terapia completa para couro cabeludo e fios. Protegendo todos os tipos de cabelos.</p>
            </div>
            <div class="card">
                <img src="{% static '/img/image_copy_3.png' %}" alt="cortes">
                <h3>Cortes</h3>

                <p>Profissionais renomados, famosos por lançarem tendências com cortes diferenciados e clássicos.</p>
            </div>
            <div class="card">
                <img src="{% static '/img/image_copy_4.png' %}" alt="tratamentos">
                <h3>Tratamentos</h3>
                <p>Tratamentos naturais e totalmente veganos, para qualquer tipo de cabelo.</p>
            </div>
        </div>
    </section>
        {% endfor %}
    <section class="testimonials" id="testimonials">
        <h2>Depoimentos de quem já </h2>
        <h2>passou por aqui</h2>
        <div class="testimonials-cards">
            <div class="testimonial">
                <img src="{% static '/img/image_copy_7.png' %}" alt="">
                <img src="{% static '/img/image_copy_8.png' %}" alt="">

            </div>

        </div>
    </section>
    <section class="contact">
        <div class="container">

            <div class="contact-text">
                <h1>Entre em contato</h1>
                <h1>com a gente!</h1>
                <p>Entre em contato com a Beautysalon,</p>
                <p>queremos tirar suas dúvidas, ouvir suas</p>
                <p>críticas e sugestões.</p>
                <button class="image-button">
                <img src="{% static '/img/image_copy_9.png' %}" alt="">
                    <span>Entrar em contato</span>
                </button>
            </div>


            <div class="contact-info"}>
                <p><img src="{% static '/img/image_copy_10.png' %}" alt=""> 11 99845-6754</p>
                <p><img src="{% static '/img/image_copy_11.png' %}" alt=""> R. Amauri Souza, 346</p>
                <p><img src="{% static '/img/image_copy_12.png' %}" alt=""> contato@beautysalon.com</p>
            </div>
        </div>
    </section>




<footer>
    <div class="footer-container">
        <div class="footer-text">
            <h1>beautysalon.</h1>
            <p>&copy; 2021 Beautysalon.</p>
            <p>&copy; Todos os direitos reservados.</p>
        </div>


        <div class="footer-images">
            <img src="{% static '/img/image_copy_13.png' %}" alt="cards">
            <img src="{% static '/img/image_copy_14.png' %}" alt="cards">
            <img src="{% static '/img/image_copy_15.png' %}" alt="cards">
        </div>
    </div>
</footer>
</body>
</html>
<body>
    {% endblock %}
</body>